.texto-principal {
    font-size: 800%;
    display: flex;         
    justify-content: center;  
    align-items: center;   
    z-index: 3; 
    position: absolute;    
    top: 20%;
    left: 50%;             
    transform: translate(-50%, -50%); 
    font-weight: bold;     
    color: rgb(0, 0, 0);          
    width: 100%;           
    height: 100%;          
    text-align: center;   
    font-style: italic; 
    text-shadow: 2px 2px 4px #ffff, -1px -1px 2px #ffff;
}
.texto-secundario {
    font-size: 190%;
    display: flex;         
    justify-content: center;  
    align-items: center;   
    z-index: 3; 
    position: absolute;    
    top: 30%;
    left: 50%;             
    transform: translate(-50%, -50%); 
    font-weight: bold;     
    color: rgb(0, 0, 0);          
    width: 40%;           
    height: 100%;          
    text-align: center;   
    font-style: italic; 
    text-shadow: 2px 2px 4px #ffff, -1px -1px 2px #ffff;
}
.texto-mision {
    font-size: 160%;
    display: flex;         
    justify-content: center;  
    align-items: center;   
    z-index: 3; 
    position: absolute;    
    top: 35%;
    left: 50%;             
    transform: translate(-50%, -50%); 
    font-weight: bold;     
    color: rgb(0, 0, 0);          
    width: 60%;           
    height: 100%;          
    text-align: center;   
    font-style: italic; 
    text-shadow: 2px 2px 4px #ffff, -1px -1px 2px #ffff;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item {
    position: relative;
}

.carousel-item::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}
.carousel-control-prev,
.carousel-control-next {
    z-index: 4;
}

.carousel-item::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}
.carousel{
    opacity: rgba(0, 0, 0, 0.5);

}