.all{
display: flex;
  flex-direction: column;
}

.container-principal{
    display: flex;         
    justify-content: center;  
    align-items: center;   
    z-index: 2;           
    position: absolute;    
    top: 65%;
    left: 50%;             
    transform: translate(-50%, -50%); 
    font-weight: bold;     
    color: #000000;          
    width: 100%;           
    height: 70%;          
    text-align: center;   
}

.text-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(8, 8, 8, 0.658); 
    padding: 2px;
    border-radius: 10px; 
    width: 100%; 
    max-width: 800px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); 
    padding-top: 20%;
    padding-bottom: 20%;
}

.title {
    font-size: 500%;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
    text-shadow: 1px 1px 8px #000000,
    -3px 2px 1px #313131
}

.info-text {
    font-size: 1.2rem;
    color: #000000;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
    text-shadow: -1px -1px 6px #ffff,
    2px 1px 1px #ffff
}
.img-que-hacemos{
    width: 100%;
    height: 120vh;
}
.img-mision{
    width: 100%;
    height: 120vh;
}

.info-error{
    color: #313131;
}
.title-error{
    font-size: 500%;
    font-weight: bold;
    color: #db9411;
    margin-bottom: 10px;
}
.error-container{
    display: flex;
    flex-direction: column;
    width: 50%; 
}
.all-error {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 15%;
    margin-top: 10%;
  }
  .img-error {
    width: 140px;
  }
  